body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333;
}

.series-container {
    max-width: 1200px; /* Adjust based on your preference */
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.character-row {
    display: flex;
    flex-wrap: wrap; /* Ensures wrapping on smaller screens */
    justify-content: space-around; /* Evenly spaces the characters across the container */
    align-items: center; /* Vertically centers items in their flex container */
    gap: 20px; /* Adds space between rows and items */
}

.character {
    text-align: center; /* Centers the text under the image */
    width: 150px; /* Sets a fixed width for each character block */
}

.character img {
    width: 100px; /* You can adjust this width */
    height: 100px; /* Fixed height for all images */
    object-fit: cover; /* Ensures the image covers the set area without distorting */
    border-radius: 50%; /* Keeps the images circular */
    display: block; /* Removes bottom space/margin */
    margin: 0 auto; /* Centers the image horizontally */
}

h2 {
    color: #333;
    text-align: center; /* Centers the series title */
}

.logout-button {
    cursor: pointer;
    padding: 8px 16px;  /* Reduced padding for a smaller button */
    margin-top : 5rem;  /* Spacing from the top of the button to other elements above */
    margin-bottom: 5rem;  /* Spacing from the button to other elements below */
    background-color: rgba(101, 86, 78, 0.8); /* Red color for logout to indicate an action like stopping or exiting */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners for a modern look */
    font-size: 16px; /* Smaller text size for a smaller button */
    font-weight: bold; /* Makes the text bold */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
}

.logout-button:hover, .logout-button:focus {
    background-color: #d32f2f; /* A darker shade of red on hover for visual feedback */
    transform: translateY(-2px); /* Slightly raise the button when hovered/focused */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover for more depth */
}

.logout-button:active {
    background-color: #b71c1c; /* Even darker shade of red to simulate a button press */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Less shadow to simulate the button being pressed down */
    transform: translateY(1px); /* Move button down slightly to mimic a pressing action */
}
