body {
    font-family: Arial, sans-serif;
    background-color: #D5D3CD;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {
    margin-bottom: 50px;
}

.header-title {
    font-size: 3em;
    font-family: Caveat, cursive;
    color: #5a4632;
}

.header-paragraph {
    font-size: 1em;
    font-family: 'Cursive', serif;
    color: #766953;
    margin: 10px 0;
}

.buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    font-size: 0.8em;
    margin: 0 10px;
    margin-top: 2em;
    cursor: pointer;
    border: none;
    background-color: #65564E;
    color: white;
    border-radius: 5px;
    font-family: 'Cursive', serif;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #433C36;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    background-color: #F1EDE2;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 30px;
    padding: 10px 0;
}

.carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.carousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.character {
    flex: 0 0 auto;
    width: 200px;
    margin: 0 20px;
    text-align: center;
    transition: transform 0.3s;
}

.character:hover {
    transform: scale(1.1);
}

.character-img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.character-title {
    font-size: 1.2em;
    margin: 10px 0 5px 0;
    color: #5a4632;
    font-family: Caveat, cursive;
}

.carousel-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}













