.google-login-button {
    cursor: pointer;
    margin-bottom: 5rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    scale: 1.3;
}

.google-login-button:hover {
    opacity: 0.6;
}

.LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.personaLetter {
    margin-top: 10%;
    margin-bottom: 2%;
}


.logout-button {
    cursor: pointer;
    padding: 8px 16px;  /* Reduced padding for a smaller button */
    margin-top : 5rem;  /* Spacing from the top of the button to other elements above */
    margin-bottom: 5rem;  /* Spacing from the button to other elements below */
    background-color: rgba(101, 86, 78, 0.8); /* Red color for logout to indicate an action like stopping or exiting */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners for a modern look */
    font-size: 16px; /* Smaller text size for a smaller button */
    font-weight: bold; /* Makes the text bold */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
}

.logout-button:hover, .logout-button:focus {
    background-color: #d32f2f; /* A darker shade of red on hover for visual feedback */
    transform: translateY(-2px); /* Slightly raise the button when hovered/focused */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover for more depth */
}

.logout-button:active {
    background-color: #b71c1c; /* Even darker shade of red to simulate a button press */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Less shadow to simulate the button being pressed down */
    transform: translateY(1px); /* Move button down slightly to mimic a pressing action */
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&display=swap');


h1 {
    font-size: 6em;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #65564E;
}


.facebook-login-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #1877F2; /* Facebook blue */
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 20px;
}

.facebook-login-button:hover {
    opacity: 0.6;
}

.facebook-login-button img {
    margin-right: 10px;
    height: 20px; /* adjust size as needed */
}
