/* LetterPage.css */
.letterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full height of the viewport */
    background-color: #D5D3CD;  /* Light grey background */
  }
  
  .letterImage {
    max-width: 512px;
    max-height: 512px;
    margin-right: 50px; /* Space between image and buttons */
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 3rem;
  }
  
  .letterButton {
    margin: 10px 0;  /* Space between buttons vertically */
    padding: 8px 20px;  /* Smaller padding for a thinner button look */
    background-color: rgba(101, 86, 78, 0.8); /* Using RGBA for transparency */  /* No background color for a minimal look */
    border: 1px solid #ccc;  /* Light grey border */
    color: #fff;  /* Dark grey text color */
    text-align: left;  /* Text aligned to the left */
    width: 130px;  /* Full width to align text properly */
    cursor: pointer;
    font-size: 16px;  /* Adequate font size for readability */
    border-radius: 5px;
    outline: none;  /* Remove focus outline for aesthetics */
  }
  
  .letterButton:hover {
    border-color: yellow;  /* Darker border on hover for interaction feedback */
  }
  