/* LetterPage.css */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&display=swap');


.letterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Full height of the viewport */
  background-color: #D5D3CD;  /* Light grey background */
  left: 10rem;
}

.letterImage {
  /* max-width: 512px;
  max-height: 512px; */
  margin-right: 50px; /* Space between image and buttons */
  cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.letterButton {
  margin: 5px 0;  /* Space between buttons vertically */
  padding: 8px 20px;  /* Smaller padding for a thinner button look */
  background-color: rgba(101, 86, 78, 0.8); /* Using RGBA for transparency */  /* No background color for a minimal look */
  border: 1px solid #ccc;  /* Light grey border */
  color: #fff;  /* Dark grey text color */
  text-align: left;  /* Text aligned to the left */
  width: 130px;  /* Full width to align text properly */
  cursor: pointer;
  font-size: 16px;  /* Adequate font size for readability */
  border-radius: 5px;
  outline: none;  /* Remove focus outline for aesthetics */
}

.letterButton:hover {
  border-color: white;  /* Darker border on hover for interaction feedback */
}

.homeButton {
  font-size: 42px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #65564E;
  top: 21px;
  left: 40px;
  position: absolute;
  white-space: nowrap;
}

/* 편지 흔들 */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(2deg); }
  10% { transform: translate(-1px, -1px) rotate(-2deg); }
  20% { transform: translate(1px, 1px) rotate(2deg); }
  30% { transform: translate(-1px, -1px) rotate(-2deg); }
  100% { transform: translate(0, 0) rotate(0); } /* 초기 상태로 복원 */
}

.letterImage img {
  animation-name: shake;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 4;
  animation-fill-mode: forwards; /* 애니메이션 끝난 후 마지막 상태 유지 */
  width: 700px;
  height: auto;
}

/* 모달 스타일 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: rgba(0, 0, 0, 0);
  width: 50%;
  height: 80%;
  z-index: 1001;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  /* position: relative; Relative positioning for the paper */
}

.hermione {
  position: absolute;
  top: 5%;
  right: 5%;
  /* width:  246px;
  height: 380px; */
  width: 368px;
  height: 570px;
}

.modalContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  /* position: relative;  */
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

/* 종이 스타일 */
.paper {
  background: #F2E7D1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 35rem;
  min-height: 80%;
  max-height: 50%;
  /* position: absolute;
  top: 5%;
  left: 5%; */
  text-align: left;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: Caveat, cursive;
  font-size: 20px;
  position: relative;
}

.paper::-webkit-scrollbar {
  width: 10px;
}


.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  right: 50px;
  bottom: 40px;
}

.buttonContainer div {
  margin-right: 1rem;
}

.korean {
  font-family: "Nanum Brush Script", cursive !important;
  font-weight: 400;
  font-style: normal;
}
