.received_wrapper{
    display: flex;
    justify-content: center;
    background-color: #F1EDE2;
    gap: 100px;
<<<<<<< HEAD
    height: 100vh;
=======
>>>>>>> origin/main
    overflow-x: auto;
    position: relative;
}

@media (max-width: 1200px) {
    .received_wrapper {
        min-width: 1200px;
    }
}

.image_card{
    width: 532px;
    height: 800px;
    perspective: 1000px;
    margin-top: 40px;
    position: relative;
}

.image_front, .image_back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.image_front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFBF4;
}

.image_back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFBF4;
    transform: rotateY(180deg);
}

.back_frame{
    width: 492px;
    height: 760px;
    border: 1px solid black;
}

.flipped .image_front {
    transform: rotateY(180deg);
}

.flipped .image_back {
    transform: rotateY(0deg);
}

.image_section{
    width: 492px;
    height: 760px;
}

.image_section_sent{
    width: 492px;
    height: 560px;
    background-size: cover;
}

.letter_section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 532px;
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 30px; /* 오른쪽 여백 추가 */
    box-sizing: border-box;
}

.translation_button{
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.reply_button{
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
}

.a_letter_buttons{
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 30px;
    gap: 30px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
}

.image_sent_text{
    font-family: "Caveat", cursive;
    font-size: 26px;
    position: absolute;
    top: 80px;
    left: 80%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    width: 100%;
}

.letter_content{
    font-family: "Caveat", cursive;
    font-size: 20px;
    white-space: pre-wrap;
    padding: 30px;
    margin-top: 20px;
    color: #1A1514;
}

.image_comment{
    font-family: "Caveat", cursive;
    font-size: 20px;
    position: absolute;
    bottom: 100px;
    right: 50px;
}

.korean {
    font-family: "Nanum Brush Script", cursive !important;
    font-weight: 400;
    font-style: normal;
}

.header_received {
    margin-bottom: 50px;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&display=swap');

.header-title_received {
    font-size: 42px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #65564E;
    top: 7px;
    left: 80px;
    position: absolute;
}

/* Media Queries */
@media (max-width: 1400px) {

    .header_received {
        display: none;
    }
}