.table{
    width: 80%;
    height: 700px;
    margin-left: 10%;
    margin-top: 10%;
}

.mailbox {
    position: absolute;
    top: 70%; /* 적절한 값으로 조정하세요 */
    left: 10%; /* 적절한 값으로 조정하세요 */
    /* 다른 스타일 속성들 */
    cursor: pointer;
    width: 20rem;
}

.writingPadContainer{
    position: absolute;
    top: 50%; /* 적절한 값으로 조정하세요 */
    left: 1100px; /* 적절한 값으로 조정하세요 */
    /* 다른 스타일 속성들 */
}

.FountainPen{
    width: 20rem;
    position: absolute;
    top: 70%; /* 적절한 값으로 조정하세요 */
    left: 70%; /* 적절한 값으로 조정하세요 */
    /* 다른 스타일 속성들 */
}

.paperAirplane{
    width: 20rem;
    position: absolute;
    top: 80%; /* 적절한 값으로 조정하세요 */
    left: 80%; /* 적절한 값으로 조정하세요 */
    cursor: pointer; /* 마우스를 가져다 대면 포인터 모양으로 변경 */
}

.letterContainer {
    position: relative; /* 부모 요소에 position: relative; 설정 */
}

.letter {
    width: 40%;
    height: 40rem;
    resize: none; /* 크기 조절 비활성화 */
    padding: 10px;
    /* 다른 스타일 속성들 */
    top: 10rem;
    position: absolute; /* textarea에 position: absolute; 설정 */
    left: 50%; /* 원하는 위치로 조절 */
    font-size: 13px;
    background-color: white;
    background-attachment: local;
    background-image:
      linear-gradient(to right, white 10px, transparent 10px),
      linear-gradient(to left, white 10px, transparent 10px),
      repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
}

.displayedLetter{
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 40rem;
    height: 40%;
    position: absolute;
    top: 20%; /* 적절한 값으로 조정하세요 */
    left: 5%;
}

.displayedLetter p {
    height: 20%;
    overflow-y: auto;
}

.letterCard {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 40rem;
    height: 40%;
    padding: 20px;
    left: 50%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.letterCard h3 {
    margin-top: 0;
}

.letterCard p {
    color: #666;
}

.letterCard p {
    height: 200px;
    overflow-y: auto;
}