@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&display=swap');

/* 한국어 */
.korean {
  font-family: "Nanum Brush Script", cursive !important;
  font-weight: 400;
  font-style: normal;
}
/* 편지함 */
.mailbox {
  position: absolute;
  top: 65%;
  left: 2%;
  cursor: pointer;
  width: 20rem;
}

/* 전송 */
.send {
  /* width: 5rem; */
  position: absolute;
  top: 18%;
  left: 70%;
  cursor: pointer;
  color: #5a4632;
  font-family: 'Caveat', cursive;
  font-size: 28px;
  display: inline;
  box-shadow: inset 0 -15px 0 #e8e8e8;
}

.send:hover{
    color: white;
    /* background: yellow; */
}

/* 지우기 */
.clear_letter{
  /* width: 5rem; */
  position: absolute;
  top: 25%;
  left: 70%;
  cursor: pointer;
  color: #5a4632;
  font-family: 'Caveat', cursive;
  font-size: 28px;
  box-shadow: inset 0 -15px 0 #e8e8e8;
}
.clear_letter:hover{
    color: white;
}
.sendLetterContainer {
  width: 30%;
  position: absolute;
  top: 15%;
  transition: right 0.3s ease;
}

.sendLetterContainer.right-15 {
  right: 15%;
}

.sendLetterContainer.right-50 {
  right: 37%;
}


/* 편지 */
.letter {
  width: 460px;
  height: 610px;
  resize: none;
  padding: 35px;
  font-size: 20px;
  font-family: "Caveat", cursive;
  color: #1A1514;
  background-color: #F2E7D1; /* 배경색 설정 */
  background-attachment: local;
  background-image:
    linear-gradient(to right, #F2E7D1 22px, transparent 22px),
    linear-gradient(to left, #F2E7D1 22px, transparent 22px),
    repeating-linear-gradient(#F2E7D1, #F2E7D1 24px, #ccc 24px, #ccc 24px, #F2E7D1 25px);
  line-height: 1.53rem; /* 줄 간격 설정 */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 가능 */
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 편지지 스크롤바 */
.letter::-webkit-scrollbar {
  width: 1px;
}

/* 주고받은 편지내역 */
.letterCard {
  background: #F2E7D1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 35rem;
  min-height: 45%;
  max-height: 45%;
  position: absolute;
  top: 15%;
  left: 10%;
  text-align: left;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: Caveat, cursive;
  font-size: 20px;
}

/* 스크롤바 */
.letterCard::-webkit-scrollbar {
  width: 10px;
}

/* 주고받은 편지 내용 */
.letterCard p {
  color: #666;
  overflow-y: auto;
  white-space: pre-wrap;
  padding-left: 20px;
  padding-right: 20px;
}

/* 편지 좌우 보기버튼 */
.cardButtons {
  position: absolute;
  width: 35rem;
  top: 65%;
  left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.cardButtons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/* 도움말 css */
/* 도움말 배경 */
.tutorialOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  /* 편지함 클릭 전 후 공통 도움말 */
  /* 도움말 텍스트 */
  .helpText {
    position: absolute;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    z-index: 1001;
    font-size: 20px;
  }
  
  /* 도움말 편지함 네모칸 */
  .mailboxTutorial {
    top: 81%;
    left: 10%;
    width: 11rem;
    height: 10rem;
    transform: translate(-50%, -50%);
  }
  
  /* 도움말 닫기 버튼 */
  .closeTutorial {
    position: absolute;
    top: 4rem;
    right: 4rem;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1002;
    color: red;
  }
  
  /* 도움말 아이콘 */
  .helpIcon {
    width: 3rem;
    position: absolute;
    top: 85%;
    left: 15%;
    cursor: pointer;
    z-index: 1002;
  }
  
  /* 편지함 클릭 전 도움말 */
  /* 도움말 화살표1번 */
  .beforeArrow1 {
    position: absolute;
    top: 57%;
    left: 2%;
    z-index: 1002;
  }
  
  /* 도움말 화살표2번 */
  .beforeArrow2 {
    position: absolute;
    top: 23%;
    left: 82%;
    z-index: 1002;
    transform: scaleY(-1);
  }

  /* 클릭전 도움말 편지함 문구 */
  .beforeMailboxHelpText {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 20rem;
    text-align: center;
    color: white;
    z-index: 1003;
    font-size: 20px;
  }

  /* 클릭 전 편지지 도움말 네모칸 및 문구 */
  .beforeLetterPaper {
    top: 51%;
    left: 47%;
    width: 35rem;
    height: 44rem;
    transform: translate(-50%, -50%);
  }

  /* 클릭 전 편지 전송 도움말 네모칸 */
  .beforeSendHelp {
    position: absolute;
    top: 17%;
    left: 68%;
    width: 14rem;
    height: 6rem;
    text-align: center;
    color: white;
    z-index: 1003;
    font-size: 20px;
  }

  .beforeSendHelpText {
    position: absolute;
    top: 55%;
    left: 75%;
    width: 25rem;
    text-align: center;
    color: white;
    z-index: 1003;
    font-size: 20px;
  }
  
  /* 편지함 클릭 후 도움말 */
  /* 도움말 화살표 1번 */
  .afterArrow1 {
    position: absolute;
    top: 92%;
    left: 12%;
    z-index: 1002;
  }

  .afterMailboxHelpText {
    position: absolute;
    top: 83%;
    left: 20%;
    width: 20rem;
    text-align: center;
    color: white;
    z-index: 1003;
    font-size: 20px;
  }
  
  /* 편지함 클릭 후 작성 편지지 도움말 네모칸 및 문구 */
  .afterLetterPaper {
    top: 51%;
    left: 69%;
    width: 35rem;
    height: 44rem;
    transform: translate(-50%, -50%);
  }
  
  /* 편지함 클릭후 주고 받는 편지 나열 네모칸 */
  .afterLetters {
    top: 42%;
    left: 25.5%;
    width: 40rem;
    height: 32rem;
    transform: translate(-50%, -50%);
  }

/* 홈버튼 */
.header_send {
  margin-bottom: 50px;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&display=swap');

.header-title_send {
  font-size: 42px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #65564E;
  top: 14px;
  left: 80px;
  position: absolute;
}

/* Media Queries */
@media (max-width: 1400px) {
  .send,
  .clear_letter {
    left: 50px;
  }
}