.owl {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 35%; /* Adjust the size as needed */
  height: 25%; /* Adjust the size as needed */
  animation: moveOwl 4s infinite linear; /* Total duration for one complete cycle */
}

@keyframes moveOwl {
  0% {
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  12.5% {
    top: 35%;
    left: 32.5%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  37.5% {
    top: 35%;
    left: 37.5%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  62.5% {
    top: 35%;
    left: 42.5%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  87.5% {
    top: 35%;
    left: 47.5%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}


/* @keyframes moveOwl {
  0% {
    top: 20%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 20%;
  }
} */
